html, body{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* background-color: var(--primary-color-faded) */
    /* background-color: var(--primary-color3)  */
    background-color: black;
    color: #94f6d1;
}

/* Home page */
.site-banner{
    background-color: #94f6d1;
    /* color:#94f6d1; */
    color: black;
}

.site-banner3 {
    background-color: #238ae6;
}
.site-banner3-img {
    padding-left: 20px;
}

/* css variables*/
:root{
    /* --primary-color-faded:rgb(244, 229, 250); */
    /* --primary-color-faded:#40E0D0; */
    --primary-color-faded:#94f6d1; /*  #44d7a8   #4100f5  rgb(150, 240, 182);*/
    --primary-color:#D7BDE2;
    /* --primary-color2:#9B59B6; */
    --primary-color2:black;
    --primary-color3:#FDEDEC;
    --title-color:#34495E ;
    --border-color:#273746;
    --gradient-color:linear-gradient (90deg, #4100f5, red);
    --shadow-color: #5D6D7E;
    --box-shadow:#2C3E50;
    --roboto: 'Roboto', Segoe UI;
}